<input type="text" [(ngModel)]="serveraddress" placeholder="VoIP Server address" id="serveraddress" autocapitalize="off"><br />
<input type="text" [(ngModel)]="username" placeholder="Username" id="username" autocapitalize="off"><br />
<input type="text" [(ngModel)]="password" placeholder="Password" id="password" autocapitalize="off"><br />
<button onclick="Start();">Start</button><br /><br />
<input type="text" [(ngModel)]="destnumber" placeholder="Destination number" id="destnumber" autocapitalize="off"><br />
<button id="btn_call" onclick="Call();">Call</button>